<ion-view view-title="Home">
    <ion-content padding="true">
        <h3 class="title col-md-12">Ionic workshop</h3>

        <p class="justify">
            This template has been designed to learn basic ionic components and functionality.
        </p>

        <p class="justify">
            Has you know ionic uses AngularJS, in this workshop,
           I assume you know this framework, so we'll not going to see how to create controller / service, I created
           them for you, the only thing you have to do is to complete them.
        </p>

        <p>
            Have fun.
        </p>
    </ion-content>
</ion-view>