<ion-view view-title="Notifications">
    <ion-content padding="true">
        <p class="justify">
            In this section we are going to see how to create notification.
        </p>
        <p>
            You need to create 3 buttons :
        <ul>
            <li> - A button that raises a simple notification.</li>
            <li> - A button that raises a notification with an image.</li>
            <li> - A button that schedule a notification.</li>
        </ul>


        </p>

    </ion-content>
</ion-view>